@font-face {
    font-family: PoiretOne;
    src: url(fonts/PoiretOne-Regular.ttf);
}

@font-face {
    font-family: Caveat;
    src: url(fonts/Caveat-Regular.ttf);
}

body {
    display: flex;
    margin: 0px;
}

.content {
    margin: auto;
    text-align: center;
    display: inline-grid;
    width: 100%;
}

.hello {
    font-size: 4em;
    font-family: 'PoiretOne', sans-serif;
}

.projects-title {
    font-size: 2em;
    font-weight: 100;
    font-family: 'PoiretOne';
}

.message {
    font-size: 2em;
    font-family: 'Caveat', sans-serif;
}

.social-list {
    margin: 5% 0%;
}

img.social {
    height: 30px;
    margin: 0px 15px;
}

.message span {
    color: #42a9a9;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* projects section */

.container {
    width: 220px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.box {
    position: absolute;
    width: 220px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow ease 1s;
    transition: -webkit-box-shadow ease 1s;
    transition: box-shadow ease 1s;
    transition: box-shadow ease 1s, -webkit-box-shadow ease 1s;
}

.icon {
    position: relative;
    margin-top: 8px;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
    will-change: transform;
}

.icon_bg {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid rgba(225, 227, 232, 0.18);
    -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
    will-change: transform;
}

.title {
    position: relative;
}

.super-box:hover .box {
    /*   border: 1px solid rgba(225, 227, 232, 0.18); */
    -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
}

.super-box:hover .icon_bg {
    -webkit-transform: translateY(-32px) scale(6);
    transform: translateY(-32px) scale(6);
}

.super-box:hover .icon {
    -webkit-transform: translateY(-48px) scale(1.4);
    transform: translateY(-48px) scale(1.4);
}

.super-box {
    width: 220px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.text {
    position: relative;
    top: -32px;
    width: 200px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
    font-family: 'Caveat', sans-serif;
}

.super-box:hover .text {
    opacity: 0;
    -webkit-transform: translateY(-4px) scale(.8);
    transform: translateY(-4px) scale(.8);
}

.box-impactmarket::after {
    content: "A decentralized infrastructure to provide UBI and financial services to the unbanked, charitable causes and vulnerable communities.";
}

.box-hq20::after {
    content: "A dynamic consultancy purposefully built for Innovation & Technology.";
}

.box::after {
    position: absolute;
    width: 170px;
    top: 111px;
    opacity: 0;
    font-size: 13px;
    color: #5d6494;
    line-height: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
}

.super-box:hover .box::after {
    opacity: 1;
}

.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}


/* social-links section */

ul#social-links {
    padding: 5%;
}

ul#social-links li {
    display: inline-block;
    list-style-type: none;
    margin: 0 2%;
}

button {
    position: relative;
    border: 1px solid rgba(225, 227, 232, 0.18);
    -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    font-family: Verdana;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
    padding: 0;
}